= simple_nested_form_for(@author, :html => {:class => 'well formhorizontal'}) do |f|


  %h2 Author
  %fieldset{:class => 'well'}
    = f.input :name           

    = render 'shared/address', :f => f

  %h2 Book
  = f.fields_for :books do |b|
    %fieldset{:class => 'well'}
      = b.input :title
      = b.input :publisher
      = b.association :categories, collection: Category.all
      = b.link_to_remove "Remove", :class => 'btn btn-danger btn-mini'
  = f.link_to_add "Add Book", :books, :class => 'btn btn-success'
  = f.submit :class => 'btn-primary'
